input[type="search"]::placeholder {
    text-align: center;
}
input[type="search"]{
    border-radius: 25px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
nav button[type="submit"] {
    margin-left: -80px;
    border-radius: 25px;
}
.scrollmenu{
    overflow: auto;
  white-space: nowrap;
  /* text-wrap: balance; */
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}











.form {
    position: relative;
    width: 33rem;
    height: auto;
    padding-left: 3rem;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* background: #1f1f1f; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.461); */
  }
  
  .input-container::before{
    position: absolute;
    content: "";
    height: 30%;
    width: 0.12rem;
    left: 16%;
    border-radius: 0.5rem;
    background: #707070;
  }
  
  .form {
    position: relative;
    width: 33rem;
    height: auto;
    padding-left: 3rem;
  }
  
  .input-container {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* background: #1f1f1f; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.461); */
  }
  
  .input-container::before{
    position: absolute;
    content: "";
    height: 30%;
    width: 0.12rem;
    left: 16%;
    border-radius: 0.5rem;
    background: #707070;
  }
  
  .input-container .input-field {
    position: relative;
    max-height: 4.2rem;
    padding: 1.8rem 2.5rem;
    padding-left: 5rem !important;
    border: 0.15rem solid rgb(68, 68, 68);
    color: #d2d2d2;
    outline: none;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    background: transparent;
    transition: border-color 0.2s ease;
    cursor: pointer;
  }


  input[type="search"]::placeholder {
    text-align: center;
}
input[type="search"]{
    border-radius: 25px;
}
/* button[type="submit"] {
    margin-left: -80px;
    border-radius: 25px;
} */



.slider {
  height: 6px;
  background-color: #ddd;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.progress {
  height: 100%;
  width: 0;
  background-color: #007bff;
  border-radius: 5px;
  transition: width 0.01s ease-in-out;
}






.collapsible {
  display: block;
  position: fixed;
  bottom: 70px;
  /* Height of the fixed-bottom navbar */
  left: 0;
  width: 100%;
  height: calc(100% - (2*63px));
  /* Subtract the height of the navbar from the total height */
  background-color: #f9f9f9;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  /* Adding transition for smooth animation */
  z-index: 9999;
}

.collapsed {
  height: 0;
}

/* Styles for image container */
.image-container {
  position: relative;
  /* display: inline-block; */
}

.card-img-top{
  height: 200px;
}



/* Styles for overlay */
.image-container .hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .hover-overlay {
  opacity: 1;
}

/* Styles for the text in overlay */
.image-container .overlay-text {
  padding: 20px;
}



.hover-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: none;
}

.image-container:hover .hover-buttons {
  display: block;
}

.hover-buttons .but {
  background-color: #000000;
  color: #ffffff;
  border: none;
  /* margin-left: 5px; */
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.hover-buttons .button1 {
  /* background-color: #000000; */
  /* color: #ffffff; */
  border: none;
  /* margin-left: 5px; */
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.image-container:hover .play-button {
  display: block;
}

.play-button button {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 16px 21px 16px 21px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.play-button button:hover {
  padding: 20px 25px 20px 25px;
}


.hero-container {
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #f0f0f0;
}


.hero-content {
  text-align: center;
}



.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  color: #555;
}




.scrollable-container {
width: 100%; /* Set the width of the container */
height: 450px; /* Set the height of the container */
overflow: auto; /* Enable scrolling */
border: 1px solid #ccc; /* Optional: Add a border for visual clarity */
}

.scrollable-content {
padding: 10px; /* Optional: Add padding to the content inside the scrollable container */
}